
.b1, .c1, .d1 { 
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}
.b1-2, .c1-2, .d1-2 { 
    font-size: 1.3em;
}

.b2, .c2, .d2 { 
    font-size: 1.3em;
}
.useline-b, .useline-c, .useline-d {
    
}
.tokens-b, .tokens-c, .tokens-d {
    width: 100%;
}