body { 
  /* font-family: "Verdana", "Georgia", "Arial", "Helvetica", sans-serif; */
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.nameplate h2{ 
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: "Oswald", sans-serif;
}

.splash-txt h1, .splash-txt h2, .splash-txt h3 { 
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  /* font-style: italic; */
}

.pubsLink h3 a, .pubsLink h3 a:visited { 
  color: black;
}

.pubsLink h3 a .small {font-size: .9em;}

.topNameplate, .topMenu { 
  /* margin-top: 1ex; */
  /* margin-left: 2%; */
  /* margin-right: 2%; */
  /* color: white;
}
.topMenu .tmItem a {  color: white; }
.menuBar h3 { 
  font-size: 1.1em;
}
.menuBar, .menuBar .segment{ 
  /* background-color: black; */
}


/* .focus-content { */
  /* width: 80%;
  margin-left: 10%; */
/* } */

/* nav.navBar { 
  color: white;
  background-color: #666;
  margin: 20px 2.5% 0 0;
}  */


/* padding: 1ex 3% 1ex 3%; t r b l */


