

/* .nameplate .selfPic { 
    width: 100%;
} */

.splash { 
    min-height: 240px;
}
.splash-txt {
    width: 40%;
    display: block;
    float: left;
    font-size: 1.3em;
    padding: 2ex 0;
    border: thin solid #EEEEEE;
    border-radius: 25px;
}

.splash-txt.s1 h1, .splash-txt.s1 h2, .splash-txt.s1 h3 { 
    margin: 0;
}
.splash-txt.s1 { 
    /* position: relative;
    top: 10px; */
    margin-top: 20px;
    margin-bottom: 80px;
}
.splash-txt.s2 {
    /* position: relative;
    top: 10px; */
    margin-top: 80px;
    margin-bottom: 20px;
}
.splash-pic {    
    /* display: flex; */
    display: block;
    float: left;
    position: relative;
    width: 10%;
    /* border: thin solid gray; */
    padding: 0;
    margin-top: 20px;
    margin-bottom: 45px;
    /* vertical-align: bottom; */
}
.splash-pic img { width: 100%; }
.splash-pic.middle {    
    /* display: flex; */
    display: block;
    float: left;
    width: 19%; 
    position: relative;
    bottom: -30px;
    /* vertical-align: bottom; */
}
.splash-txt h1, .splash-txt h2, .splash-txt h3 { 
    margin: 2ex 0 2ex 0;
}


.rg a { font-size: .9em; }
