body { 
  font-family: "Verdana", "Georgia", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
}

/* .focus-content { */
  /* width: 80%;
  margin-left: 10%; */
/* } */

nav.navBar { 
  color: white;
  background-color: #666;
  margin: 20px 2.5% 0 0;
} 

/* padding: 1ex 3% 1ex 3%; t r b l */


