body { 
    font-family: "Verdana", "Georgia", "Arial", "Helvetica", sans-serif;
    padding-left: 2%;
    padding-right: 2%;
  }

.focus-content {
    width: 80%;
    margin-left: 6%;
    margin-right: 6%;
    text-align: center;    
}