h3 { 
  margin: 0;
}

.backendsItem div { 
  padding-top: 5ex;
}

.itemSubContent img {
  height: 100px;
  width: 100px;
}

.itemSubContent {
  display: inline;
  padding-left: 2em;
}
/* CSS Document */
